@import "./common";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/fab/mdc-fab";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/dialog/mdc-dialog";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/linear-progress/mdc-linear-progress";

body {
  display: flex;
  height: 100vh;

}
.header {
  text-align: center;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
  background-color: $mdc-theme-background;
}

.app-bar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}
.shrine-logo-drawer {

  fill: currentColor;
}

.shrine-logo {
  width: 80px;
  height: 80px;
  margin-top: 32px;
  margin-bottom: 24px;
  fill: currentColor;
  align-self: center;
}

.shrine-title {
  @include mdc-typography(headline6);

  text-align: center;
  margin: 5px auto;
}

.product-list {
  @include mdc-image-list-masonry-columns(4);

  overflow: auto;
  padding: 80px 100px 0;

  .mdc-image-list__supporting {
    justify-content: center;
  }

  .mdc-image-list__item {
    padding: 10px;
  }

  .mdc-image-list__label {
    @include mdc-typography(subtitle2);
  }
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
  @include mdc-drawer-z-index(0);

  text-transform: uppercase;

  .mdc-list {
    margin: 70px 5px auto 5px;
  }

  .mdc-list-item {
    border-radius: 6px;
    justify-content: center;
  }

  // This needs 3-class specificity to override MDC Drawer styles
  .mdc-list .mdc-list-item {
    @include mdc-states-activated(#fff);
  }
}

.shrine-select-item-divider {
  display: block;
  border-bottom-color: #EAA4A4;
  border-bottom-width: 2px;
  width: 50px;
  position: relative;
  top: -8px;
}

// This needs 2-class specificity to override MDC Drawer styles
.shrine-drawer .shrine-select-item-divider {
  margin: 0 auto;
}

.create {
  @include mdc-button-ink-color(on-primary);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;

}


.my-card-content {
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;

}
.mbr-section{
  margin-top: 26px;
}
.text{
  margin: 16px;
}
.routine{
  min-height: 200px;
  height: auto;
  width: auto;
  margin-top: 16px;
  padding-right:0px;
  padding-left: 0px;
}

.hide{
  display: none;
  visibility: hidden;
}


.secondary-content{
  position: absolute;
  height:320px ;
  left: 0;
  right: 0;
  top: 0;
}
.profile-header {
  background-image: url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/03/11/15523046827096.jpg);
  height: 320px;
  padding: 0;
  background-position: center center;
  background-size: 100%;
  opacity: 0.7;
  display: flex;
  background-repeat: no-repeat;
}
.profile-text-header{
  position: absolute;
  top: 0;
  padding-top: 60px;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.muscle-card {
  height: 200px;
  width: 350px;
}

.mdc-card__media-content {
  position: relative;

}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}