@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/linear-progress/mdc-linear-progress";
.header {
  text-align: center;
}
.shrine-logo {
  width: 100px;
  height: 100px;
  padding-top: 50px;
  fill: currentColor;
}

.username,
.email,
.password,
.confirmPassword{
  &:not(.mdc-text-field--invalid) {
    @include mdc-text-field-label-color(on-primary);
  }
  &.mdc-text-field--focused:not(.mdc-text-field--invalid)  {
    @include mdc-text-field-label-color(on-primary);
  }

  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.shrine-login {
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;
}

.cancel {
  @include mdc-button-ink-color(on-primary);
}

.progress-section{
  margin-top: 16px;
  margin-bottom: 16px;
}
.forgot-password{
  display: flex;
  justify-content: center;
  margin: 24px;
  text-decoration: none;
  @include mdc-button-ink-color(on-primary);
}
