$mdc-theme-primary: #fbc02d;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary:#7c4122;
$mdc-theme-surface: #c49000;
$mdc-theme-on-surface: #4c1800;
$mdc-theme-background: #af6d4b;
$mdc-theme-on-background:#4c1800;
