@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/dialog/mdc-dialog";

.create-body {
  margin: 8px; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}
.card_top{
  margin-top: 16px;
  margin-bottom: 16px;
}
.mdc-button{
  display: flex;
  width: 100px;
  flex-direction: row;

}
.text{
  margin:16px;
}
.text_2{
  margin-left:16px;
  margin-bottom:16px;
}
.text_mdc_title{
  margin: 16px;
}

.createbtn {
  @include mdc-button-ink-color(on-primary);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;

}

.email {
  &:not(.mdc-text-field--invalid) {
    @include mdc-text-field-label-color(on-primary);
  }
  &.mdc-text-field--focused:not(.mdc-text-field--invalid)  {
    @include mdc-text-field-label-color(on-primary);
  }

  display: flex;
  width: 90%;
  margin: 28px auto;
}




