@import "./common";
@import "@material/form-field/mdc-form-field";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/dialog/mdc-dialog";




.create {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

body {
  display: flex;
  height: 100vh;

}

.mdc-button{
  display: flex;
  width: 100px;
  flex-direction: row;

}

.createbtn {
  @include mdc-button-ink-color(on-primary);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;

}




